<footer class="site-footer">
  <div class="footer-section">
    <h3 class="footer-title">О сайте</h3>
    <p>© 2025 QadamDapp<br> Сайт для профориентации и карьеры.</p>
  </div>

  <div class="footer-section">
    <h3 class="footer-title">Контакты</h3>
    <p class="footer-contact">
      <img src="{{ url_for('static', filename='icons/location-04-stroke-rounded.svg') }}" class="footer-icon" alt="location">
      Казахстан, Алматы
    </p>
    <p class="footer-contact">
      <img src="{{ url_for('static', filename='icons/phone.svg') }}" class="footer-icon" alt="phone">
      +7 707-757-3407
    </p>
    <p class="footer-contact">
      <img src="{{ url_for('static', filename='icons/mail-01-stroke-rounded.svg') }}" class="footer-icon" alt="email">
      createam@aspc.kz
    </p>
  </div>

  <div class="footer-section">
    <h3 class="footer-title">Разработка</h3>
    <button class="dev-button">
      <a href="https://aspc.kz" target="_blank">ASP Creators</a>
    </button>
  </div>
</footer>
