{% extends "base.html" %}

{% block title %}Регистрация — QadamDapp{% endblock %}

{% block content %}
<section class="auth-section">
  <h2>Регистрация</h2>
  <form method="POST" class="auth-form">
    <input type="text" name="name" placeholder="Имя" required>
    <input type="text" name="username" placeholder="Логин" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit" class="btn-auth">Зарегистрироваться</button>
  </form>

  <div class="auth-link">
    Уже есть аккаунт? <a href="/login">Войти</a>
  </div>
</section>
{% endblock %}
